/* RESET CSS */
body {
  font-family: "Roboto", sans-serif;
}

/* biglietto */
#biglietto {
  transition: 0.5s;
}

.logo {
  height: 150px;
  width: 150px;
  transform: rotate(270deg);
}

.logo img {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
}

.left {
  background-color: rgb(35, 35, 35);
  color: white;
}

.left h2 {
  color: #01e165;
  transform: rotate(270deg);
}
